-
  var contacts = {
    "A": [{
      name: "Алексей Примадонин",
      status: "Онлайн",
      avatar: "assets/images/avatar_3.jpg"
    }],

    "В": [{
      name: "Вениамин Редакторович",
      status: "Онлайн",
      avatar: "assets/images/avatar_4.jpg"
    }],

    "Д": [{
      name: "Джедай Падаванов",
      status: "Был онлайн вчера",
      avatar: "assets/images/avatar_2.jpg"
    }],

    "К": [{
      name: "Кодовёнок Хекслетович",
      status: "Был онлайн 3 часа назад",
      avatar: "assets/images/avatar_1.jpg"
    },
    {
      name: "Королева Верстальщина",
      status: "Была онлайн вчера",
      avatar: "assets/images/avatar_5.jpg"
    }],

    "П": [{
      name: "Питонист Джангович",
      status: "Был онлайн вчера",
      avatar: "assets/images/avatar_6.jpg"
    }],
  }

mixin contact-card(name, status, avatar)
  a.contact-card.d-flex.gap-3.align-items-center.shadow-sm.p-4.mb-3.text-decoration-none.text-dark(href="#")
    img.rounded-circle(src=avatar height="50" width="50" alt=name)
    div
      h6.mb-0.fw-bold= name
      p.small.mb-0= status

.tab.position-relative.h-100
  .mt-5.px-4
    each users, letter in contacts
      p.text-uppercase.text-muted.mb-3.fw-bold= letter
      each user in users
        +contact-card(user.name, user.status, user.avatar)
